@model IEnumerable<AwqafTest.Models.ViewModels.AccountViewModel>

@{
    ViewData["Title"] = "Accounts";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                Levels 1-4
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level1) -
                    @Html.DisplayFor(modelItem => item.Level2) -
                    @Html.DisplayFor(modelItem => item.Level3) -
                    @Html.DisplayFor(modelItem => item.Level4)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="fas fa-plus-circle"></i> Add New Account</a>
</p>
