@model AwqafTest.Models.Voucher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoucherDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoucherDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoucherStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoucherStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoucherTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoucherTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountLedger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountLedger.Ledger)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VoucherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
