@model IEnumerable<AwqafTest.Models.ViewModels.AccountLedgerViewModel>

@{
    ViewData["Title"] = "Account Ledgers";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Add New Ledger</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FiscalYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                Ledger #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ledger)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LedgerNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ledger)
            </td>
        </tr>
        }
    </tbody>
</table>
